.color{
    background-color: #fe7658;
    background-color: #000000;
    background-color: #ff659f;
    background-color: #e9cbd0;
    background-color: #ffb2b2;
    background-color: #ffe9bf;
    background-color: #de3611;
    background-color: #ff723e;
}